<header style="height:fit-content; font-size:80px; background-color: black;">
<img src="https://images.cooltext.com/5529542.png" style="height:40%; width:100%; align-content: center"/>
</header>
<body style="height:100%; color: white; font-size: 20px; background-image:url('https://s3.envato.com/files/224287611/590x332.jpg'); background-repeat:no-repeat; background-size:100% 120%">
<p style="color: white">welcome, Admin</p>
<div className="userfield">
<em>not Admin? <a href='logout/'>logout</a></em>
</div>
</div>
{% for bar in verse %}
 {{bar}}
{% endfor %}
<br/>
<br/>
<br/>

<br/>
<h3 style="font-weight:light; margin-left:25%;color: white">
VIDEOS RENDER HERE
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>


<p style="color: white">buttons will be styled</p> 
{% comment %} <footer style="margin-bottom:0; width:100%; float: left;"> {% endcomment %}
<div style="background-color: black; color: white;height:70px; align-content:center;margin-left:35%">
<button style="border:10px red; font-size:70px; background-color:red; color: white">Discover</button>
<button style="border:10px red; font-size:70px;  background-color:inherit; color: white">Me</button>
<button style="border:px red; font-size:70px;  background-color:red; color: white">Post</button>
<button style="border:5px red; font-size:70px;background-color:inherit; color: white">Activity</button>
</div>
{% comment %} </footer> {% endcomment %}

