
<img src="https://images.cooltext.com/5528576.png" style="height:30%; width:100%; align-content: center"/>
<body style="background-image:url('https://static7.depositphotos.com/1003371/704/i/450/depositphotos_7041023-stock-photo-abstract-fractal-background.jpg'); background-repeat: no-repeat; background-size: 100% 100%; align-content: center;" <br/>
<form method='post' style="font-size:60px; color:white;">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit" style="font-size:60px;">Register</button>
  <p style="font-size: 40px; color: white;"> Already a member? <a href="/login/" style="color:white;">Login</a></p>
  </form>

</body>
